{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
    <style>
        body{
        text-align:center;
        }
        input[type="submit"]{
        background:green;
        color:white;
        width:100px;
        height:30px;}
    </style>
    <script>

     </script>

</head>
<body>
    <div>

        <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}


            {{ form.as_p }}

            <input type="submit" class="btn btn-default" value="Post">

        </form>
    </div>
    <div>

         <form method="POST" action="/feed/">
            {% csrf_token %}
             {% if success_message %}

               <p> {{ success_message }} </p>
                <input type="submit" class="btn-default btn" value="Your Feed">
             {% else %}
                    <p> {{ error_message }} </p>
                <input type="submit" class="btn btn-default" value="Your Feed">
             {% endif %}
         </form>

    </div>

</body>
</html>