<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        input[type="submit"]{
        background:green;
        color:white;
        width:100px;
        height:30px;
        }
        body{
        text-align:center;
        }
    </style>

</head>
<body>
    Successfully signed up! Please continue to login!
    <form action="/login/" method="get">
        <input type="submit" class="btn btn-default" value="Login">
    </form>
</body>
</html>